@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

$midnight: rgb(14, 17, 20) !important;
$green: rgb(85, 237, 85) !important;
$hover: rgba(
  $color: white,
  $alpha: 0.05,
) !important;

//borders
$border: 1px solid rgba(134, 150, 160, 0.15);
body {
  background: $midnight;
}

//navbar
// .nav {
//   position: fixed;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   height: 7vh;
//   padding-top: 0.5rem;
//   padding-bottom: 0.5rem;
//   padding-left: 0.5rem;
//   border-bottom: 0.5px solid black;
//   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
//   font-size: 1.5rem;
//   width: 100%;
//   z-index: 9999;
//   background: #000;
//   color: white;
// }

// utils
.display-flex {
  display: flex !important;
}

//constnts
