.home-form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  input {
    padding: 8px;
    margin-bottom: 5px;
    color: black;
  }
  input:focus {
    outline: none;
  }
  button {
    margin-top: 0.5rem;
    padding: 0.5rem;
    color: black;
  }
}
