@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
  position: relative;
}

$midnight: rgb(14, 17, 20) !important;
$green: rgb(85, 237, 85) !important;
$hover: rgba(
  $color: white,
  $alpha: 0.05,
) !important;

//borders
$border: 1px solid rgba(134, 150, 160, 0.15);
body {
  background: $midnight;
}

//navbar
// .nav {
//   position: fixed;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   height: 7vh;
//   padding-top: 0.5rem;
//   padding-bottom: 0.5rem;
//   padding-left: 0.5rem;
//   border-bottom: 0.5px solid black;
//   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
//   font-size: 1.5rem;
//   width: 100%;
//   z-index: 9999;
//   background: #000;
//   color: white;
// }

// utils
.display-flex {
  display: flex !important;
}

.home-form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  input {
    padding: 8px;
    margin-bottom: 5px;
    color: black;
  }
  input:focus {
    outline: none;
  }
  button {
    margin-top: 0.5rem;
    padding: 0.5rem;
    color: black;
  }
}

//constnts
.avtar-div {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  .text-div {
    margin-bottom: 1rem;
  }
  .user-bar {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    img {
      width: 2rem;
      height: 2rem;
      border-radius: 100%;
    }
  }
  .avtar-images-div {
    display: flex;
    gap: 2rem;
    .images {
      width: 4rem;
      height: 4rem;
    }
  }
  button {
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    color: #0e1114;
  }
  form {
    input {
      padding: 0.5rem 1rem;
    }
    color: #0e1114;
  }
}
