/* Home */

$border: 1px solid rgba(0, 0, 0, 0.5);
.chats-screen {
  display: flex;
  width: 100%;
  height: 100vh;
}
.contacts {
  width: 25vw;
  height: auto;
  border-right: 1px solid rgba(134, 150, 160, 0.15);
  position: relative;

  .input-search {
    border-bottom: 1px solid rgba(134, 150, 160, 0.15);
    padding: 0 0.5rem;

    .search-users {
      width: 100%;
      padding: 0.5rem 1rem;
      outline: none;
      border: 0;
      background: rgb(14, 17, 20);
      border: 1px solid rgba(134, 150, 160, 0.15);
      border-radius: 0.5rem;
      margin: 0.5rem 0;
      color: white;
    }
  }
}

/* User&Group Wrapper */
.chatbox-section {
  width: 75vw;
  display: flex;
  flex-direction: column;
  position: relative;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.45rem 1rem;
    border-bottom: 1px solid rgba(134, 150, 160, 0.15);

    .selected-info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      letter-spacing: 1px;

      h4 {
        font-weight: 500;
      }
      .selected-email {
        font-size: 0.5rem;
      }
    }
    .options-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.7rem;
    }
  }
  img {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 0.5rem;
    border-radius: 100%;
  }
  .message-form {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    margin-bottom: 2px;
    input {
      outline: none;
      flex: 1;
      padding: 0.5rem;
      color: #0e1114;
      border: 0;
      border-radius: 0.5rem;
      margin: 0 1rem;
    }
    button {
      padding: 0 1.2rem;
      color: #0e1114;
      background: rgb(85, 237, 85);
      border: 0;
      border-radius: 0.5rem;
      margin-right: 1rem;
    }
  }
}

/* Login and Registration*/

/* Contacts */
.user-groups-tabs {
  display: flex;
  border-bottom: 1px solid rgba(134, 150, 160, 0.15);
  div {
    display: flex;
    padding: 0.5rem 0;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;

    &:hover {
      background: rgba($color: white, $alpha: 0.05);
      cursor: pointer;
    }
  }
}
.contacts_list {
  overflow-y: scroll;
  height: calc(100vh - 93.5px);
  position: relative;
  div {
    display: flex;
    align-items: center;
  }

  li {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 0.8rem 1rem;
    font-size: 0.8rem;
    border-bottom: 1px solid rgba(134, 150, 160, 0.15);
    background: rgb(14, 17, 20);
    &:hover {
      background: rgba($color: white, $alpha: 0.05);
    }
    img {
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 100%;
      margin-right: 0.5rem;
    }
    .message-unreaded-icon {
      position: absolute;
      right: 10px;
      color: black;
      background-color: #84e787;
      padding: 0.2rem 0.4rem;
      border-radius: 100%;
      font-size: 0.6rem;
    }
  }
}
.contacts_list::-webkit-scrollbar {
  width: 2px;
}
.contacts_list::-webkit-scrollbar-track {
  background: transparent;
}
.contacts_list::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}

/*    ChatBox      */
.nochat-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
}

/* UserMe */
.user-me {
  position: relative;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(134, 150, 160, 0.15);
  .user-image {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
  }
  img {
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 100%;
  }
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  .absolute {
    position: absolute;
    top: 1.3rem;
    right: 0.7rem;
    z-index: 9999;
    .three_dots {
      cursor: pointer;
      div {
        background-color: rgb(85, 237, 85);
        color: rgb(14, 17, 20);
        font-size: 0.8rem;
        padding: 0.5rem 2rem;
        font-weight: 500;
        text-align: center;

        &:hover {
          background: rgb(19, 215, 19);
          color: white;
        }
      }
      .hover-red:hover {
        background-color: red;
      }
    }
  }
  .w-10 {
    width: 10rem;
  }
}

/*  UserList  */
.add_msg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0.9rem 1rem;
  bottom: 1rem;
  right: 1rem;
  background: rgb(85, 237, 85);
  font-weight: 900;
  border-radius: 100%;
  cursor: pointer;
  svg {
    path {
      color: #0e1114;
    }
  }
}

/* Messages Form and Messages*/
.message-container-main {
  overflow-y: scroll;
  height: calc(100vh - 97px);
  .message-container {
    margin-top: 0.5rem;
    padding: 0 1rem;
    font-size: 0.75rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    position: relative;

    .message {
      width: fit-content;
      max-width: 70%;
      background: #84e787;
      padding: 0.4rem 1.5rem 0.7rem 0.6rem;
      border-radius: 5px;
      margin: 0.5rem 0;
      letter-spacing: 0.5px;
      position: relative;

      .sender {
        font-size: 9px;
        font-weight: 300;
      }
      .message-text {
        color: black;
        padding-right: 0.3rem;
      }
      .message-time-stamp {
        font-size: 8px;
        position: absolute;
        bottom: 3px;
        right: 3px;
      }
      .message-date-stamp {
        font-size: 8px;
        position: absolute;
        bottom: 3px;
        left: 3px;
      }
    }
    .bg-SenderMe {
      background: rgb(85, 237, 85);
      color: black;
    }
    .bg-SenderNotMe {
      background: rgb(164, 129, 129);
    }
    .message-sender-img {
      width: 2rem !important;
      height: 2rem !important;
    }
  }
}
.message-container-main::-webkit-scrollbar {
  width: 5px;
}
.message-container-main::-webkit-scrollbar-track {
  background: transparent;
}
.message-container-main::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
}

/* Groups */
.groups_sidebar {
  position: relative;
  height: calc(100vh - 93.5px);
  .add_grp {
    position: absolute;
    padding: 0.89rem 0.97rem;
    bottom: 1rem;
    right: 1rem;
    background: rgb(85, 237, 85);
    color: rgb(14, 17, 20);
    font-size: 1.2rem;
    font-weight: 900;
    border-radius: 100%;
    svg {
      path {
        color: #0e1114;
      }
    }
  }
}

/*  UTILS   */
.bb {
  border-bottom: 2px solid rgb(85, 237, 85);
}
.justify-content-right {
  justify-content: flex-end;
}
.justify-content-left {
  justify-content: flex-start;
}
.items-center {
  align-items: center;
}
.df {
  display: flex;
  align-items: center;
}

.theme-light {
  background-color: white;
  color: black;
  // all other stuff
  .contacts {
    border-right: $border;
    .input-search {
      border-bottom: $border;
      .search-users {
        border: $border;
        background-color: white;
      }
    }
  }
  .chatbox-section {
    nav {
      border-bottom: $border;
    }
  }
  .user-groups-tabs {
    border-bottom: $border;

    div {
      &:hover {
        background: rgba($color: black, $alpha: 0.1);
        cursor: pointer;
      }
    }
  }
  .contacts_list {
    li {
      border: $border;
      background: white;
      &:hover {
        background: rgba($color: black, $alpha: 0.1);
        cursor: pointer;
      }
    }
  }
  .user-me {
    border-bottom: $border;
  }
}
