.groups_sidebar{
    position: relative;
    height: calc(100vh - 93.5px);    
    .add_grp{
        position: absolute;
        padding: .89rem .97rem;
        bottom: 1rem;
        right: 1rem;
        background: rgb(85, 237, 85);
        color: rgb(14, 17, 20);
        font-size: 1.2rem;
        font-weight: 900;
        border-radius: 100%;
        svg {
            path {
              color: #0e1114;
            }
          }
    }
}
